@model IEnumerable<GigHub.Core.Models.Gig>
@{
    ViewBag.Title = "Gigs";
}

<h2>My Upcoming Gigs</h2>

<ul class="gigs voffset4">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ") @*d represents short date but when you add a space then it can be just a day*@
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Venue
                </span>
                <span class="genre">
                    @if (gig.Genre != null)
                    {
                        @gig.Genre.Name
                    }
                </span>
            </div>
            <div class="actions">
                <a href="@Url.Action("Edit","Gigs", new {id = gig.Id})">Edit</a>
                |
                <a class="js-cancel-gig" href="#" data-gig-id="@gig.Id">Cancel</a>
            </div>
        </li>
    }
</ul>
@section scripts{
    <script>
        $(document).ready(function () {
            $(".js-cancel-gig").click(function (e) {
                var link = $(e.target);
                bootbox.dialog({
                    title: "Cancel the Gig",
                    message: "Are you sure you want to cancel this gig?",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-check"></i> No',
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        confirm: {
                            label: '<i class="fa fa-times"></i> Yes',
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/api/gigs/" + link.attr("data-gig-id"),
                                    method: "DELETE"
                                })
                                        .done(function () {
                                            link.parents("li").fadeOut(function () {
                                                $(this).remove();
                                            });
                                        }).fail(function () {
                                            alert("Something failed!");
                                        });
                            }


                        }
                    }
                });

            });
        });

    </script>
}